// *************************************
// Header component
// *************************************

@import "../core/settings";
@import "../core/helpers";

.discont-banner {
  a {
    @extend %l-block;
    position: fixed;
    z-index: 300;
    width: 100px;
    height: 176px;
    top: 260px;
    left: 0;
    background: url('../../../images/discont-bg.png') repeat-x 0 0;
  }
}

.content-container {
  @include container();
  @extend %l-clearfix;
}

.content-block {
  @include container($main-layout-setting);
  @extend %l-clearfix;
}

.breadcrumbs-list {
  margin: 5px 0 8px 0;
  &-item {
    @extend %l-pull-left;
    padding: 0 10px 0 0;
    color: #898989;
    &:after {
      content: '.';
      position: relative;
      top: -3px;
      padding-left: 10px;
      font-size: $def-font-size;
    }
    a {
      color: #898989;
      font-size: $small-font-size;
      @extend %c-no-decoration;
      &:hover {
        @extend %c-underline;
      }
    }
  }
}

.tab-nav-container {
  @extend %l-clearfix;
  height: 45px;
  margin-top: 18px;
  padding-left: 15px;
  border-bottom: solid #7fadce 1px;  
}

.tab-nav-item {
  @extend %l-pull-left;
  margin-left: 11px;
  margin-bottom: 20px;
  &-list {
    @include border-top-radius($def-b-radius);
    @extend %l-pull-left;
    @extend %c-no-decoration;
    margin-top: 10px;
    padding: 3px 27px 5px 27px;
    border: solid #7fadce 1px;
    border-bottom: none;
    color: #242424;
    font-size: $large-font-size;
    font-family: $font-family-roboto-regular;
    &:hover {
      @extend .active;
      font-weight: normal !important;
    }
  }
  .active {
    @extend %c-bold;
    margin-top: 0;
    padding: 13px 27px 5px 27px;
    color: #266db9;
  } 
}

.product-main-container {
  @extend %l-clearfix;
}

.product-main-slider-container {
  @include span (6 of 15);
}

.product-main-slider-block {
  position: relative;
  height: 340px;
  vertical-align: middle;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

.product-main-slider-list-ul {
  @extend %l-pull-left;
}

.product-main-slider-list {
  @extend %l-clearfix;
  position: relative;
}

.product-main-slider-list-li {
  @extend %l-pull-left;
  position: relative;
  width: 90px;
  height: 69px;
  margin: 0 7px;
  border: solid #d2dfe5 1px;
  img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
} 

.product-main-slider-nav {
  @extend %l-pull-left;
  margin-top: 23px;
  .shared-arrowleft-ico-blue-1 {
    margin-right: 13px;   
    &:hover {
      @extend .shared-arrowleft-ico-yellow-1
    } 
  }
  .shared-arrowright-ico-blue-1 {
    margin-left: 13px;
    &:hover {
      @extend .shared-arrowright-ico-yellow-1
    }
  }
}

.product-main-price-info-container {
  @include span (5 of 15);
}

.product-price-block {
  @include border-radius($def-b-radius);
  @extend %c-center;
  border: solid #d2dfe5 1px;
  .product-available {
    padding: 0 10px 0 10px;
    color: #484848;
    font-size: 11px;
  }
  .buy-button-big {
    @extend %l-block;
    width: 100%;
    height: 39px;
    font-size: 20px;
  }
}

.product-price-expression {
  @extend %l-clearfix;
  padding: 5px 10px 10px 10px;
  text-align: left;
  .item-1 {
    @extend %l-inline-block;
    position: relative;
    margin-left: 10px;
    padding-right: 30px;
    text-align: left;
    color: #b43520;
    b {
      font-family: $font-family-roboto-light;
      font-size: $large-font-size;
      font-weight: normal;
    }
    i {
      padding-left: 10px;
      color: #b0c0c8;
    }
    span {
      @extend %l-block;
      color: #898989;
      font-size: 11px;
      @extend %c-center;
    }
    &:before {
      content: ' ';
      position: absolute;
      width: 13px;
      height: 10px;
      top: 10px;
      right: 0;
      border-top: solid #000 1px;
    }
  }
  .item-2 {
    @extend .item-1;
    margin-left: 15px;
    margin-right: 15px;
    color: #105ebe;
    &:before {
      top: 8px;
    }
    &:after {
      content: ' ';
      position: absolute;
      width: 13px;
      height: 10px;
      top: 12px;
      right: 0;
      border-top: solid #000 1px;
    }
  }
  .item-3 {
    @extend %l-inline-block;
    color: #105ebe;
    b {
      @extend %c-bold;
      font-family: $font-family-roboto-regular;
      font-size: 24px;
    }
    span {
      @extend %l-block;
      color: #898989;
      font-size: 11px;
      @extend %c-center;
    }
  }
}



.product-buy-block {
  @extend %l-clearfix;
  padding: 5px 0 5px 0;
  border-top: solid #f2f8fb 2px;
  text-align: left;
}

// .middle {
//   @include span (1 of 15);
//   margin-left: span(1 of 15) + gutter(15);
//   border: solid #000 1px;
// }

// .right {
//   @include span (3 of 15 last);
//   border: solid #000 1px;
// }

// Tablet and up
// -------------
@include add-breakpoint($break-tablet-and-up) {
  
}
