// *************************************
// Main footer
// *************************************

@import "../core/settings";
@import "../core/helpers";

.footer {
  height: 430px;
  border-top: solid #f8d500 2px;
  background-color: #e7f3fd;
}