// *************************************
// Header component
// *************************************

@import "../core/settings";
@import "../core/helpers";


.header-wrap {
  @include container();
  @extend %l-clearfix;
  color: #fff;
  font-size: $small-font-size;
  a {
    @extend %c-no-decoration;
  }
  &:before {
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #2970bc;
  }
  &:after {
    content: '';
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 29px;
    top: 0;
    background-color: #1f66b2;
    border-bottom: solid #dfdfdf 1px;
  }
}

.header-container {
  @include container($main-layout-setting);
  @extend %l-clearfix;
  position: relative;
  z-index: 3;
}


.timetable-container {
  @include span (3 of 15);
  margin-top: 7px;
  margin-left: span(3 of 15);
  .sprite {
    margin: 3px 7px 0 0;
  }
  span {
    @extend %l-pull-left;
    position: relative;
    padding: 0 6px 6px 5px; 
    &:after {
      @include border-top-radius(30px);
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: #fde800;
    }
  }
}

.header-nav {
  @include span (6 of 15);
  margin-top: 7px;
  &-list {
    @extend %l-clearfix;
    margin-left: span(1 of 15) + gutter(15);
  }
  &-item {
    @extend %l-pull-left;
    margin-right: 30px;
    text-transform: capitalize;
    a {
      color: #fff;
      &:hover {
        color: #f9da00;
      }
    }
  }
}

.personal-office {
  @extend %l-pull-right;
  margin-top: 7px;
  width: span(2 of 15) + gutter(15) + gutter(15);
  .sprite {
    margin: 3px 7px 0 0;
  }
  span {
    @extend %l-pull-left;
    position: relative;
    padding: 0 6px 6px 5px; 
    &:after {
      @include border-top-radius(30px);
      content: '';
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: 0;
      background-color: #fde800;
    }
  }
}

.main-logo {
  @include span (3 of 15);
  margin-top: 7px;
  margin-right: auto;
  img {
    margin: 3px 0 0 33px;
  }
}

.phone-container {
  @include span (3 of 15);
  margin: 35px 0 0 -5px;
  color: #4c4c4c;
  font-size: $large-font-size;
  b {
    @extend %l-pull-left;
    padding: 0 5px;
  }
  .shared-phone-ico-gray-1 {
    margin-top: 5px;
  }
  .shared-check-ico-blue-1 {
    margin-top: 7px; 
  }
  a {
    @extend %l-clear-both;
    @extend %l-pull-left;
    @extend %c-no-decoration;
    margin-left: 25px;
    color: #266ba5;
    font-size: $small-font-size;
    text-transform: capitalize;    
    border-bottom: dotted #266ba5 1px;
  }
}

.search-container {
  @include span (7 of 15);
  margin-top: 7px;
  padding: 25px 0 0 gutter(15);
  .search-input {
    @extend %l-pull-left;
    width: 420px;
    height: 30px;
    margin-right: 10px;
  }
  .search-button {
    
  }
}

.basket-block {
  @extend %l-pull-right;
  width: span(2 of 15) + gutter(15) + gutter(15);
  margin-top: 32px;
  color: #4c4c4c;
  .sprite {
    margin: -3px 0 0 0;
  }
  p {
    margin: 0 0 0 40px;
  }
  b {
    @extend %l-block; 
  }
  a {
    @extend %c-no-decoration;
    color: #266ba5;
    font-size: $small-font-size;
    text-transform: capitalize;
    border-bottom: dotted #266ba5 1px;
  }
}

.main-nav {
  @include border-radius($def-b-radius);
  @include background-image(linear-gradient(#f4f4f4, #e5e5e5));
  position: relative;
  z-index: 10;
  margin-top: 5px;
  height: 42px;
  border-top: solid #e5e5e5 1px;
  &:before {
    @include border-top-radius($def-b-radius);
    @include add-rgba-background(rgba(255, 255, 255, .35));
    content: '';
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    margin-top: 1px;
    border-top: solid #fff 2px;
  }
  &-item {
    @extend %l-pull-left;
    &-link {
      @extend %l-pull-left;
      @extend %c-bold;
      position: relative;
      z-index: 5;
      margin-top: 5px;
      padding: 8px 34px 8px 34px;
      color: #4c4c4c;
      font-size: $small-font-size;
      border-right: solid #dedede 1px;
      border-left: solid #ffffff 1px;
      &:hover {
        @extend .active;
      }
    }
    .active {
      @include background-image(linear-gradient(#2770bc, #1e56ac));
      margin-top: -1px;
      padding: 13px 34px 13px 34px;
      background-color: #205baf;
      color: #fff;
      &:before {
        @include add-rgba-background(rgba(255, 255, 255, .10));
        content: '';
        z-index: 2;
        position: absolute;
        width: 100%;
        height: 22px;
        top: 0;
        left: 0;
      }
    }
    &:first-child {
      margin-left: 10px;
      a {
        border-left: none;
      }
    }
    &:last-child {
      a {
        border-right: none;
      }
    }
  }
}

.main-nav-open-block {
  display: none;
  @include border-radius($def-b-radius);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100px;
  top: 40px;
  left: 0;
  background-color: #fff;
  border: solid #1e56ac 2px;
}

.header-discont-container {
  @include border-bottom-radius($def-b-radius);  
  @extend %c-center;
  position: relative;
  z-index: 2;
  margin-top: -5px;
  padding: 10px 0 5px 0;
  background-color: #ffc800;
  a {
    color: #4c4c4c;
    border-bottom: dotted #4c4c4c 1px;
  }
}






// Tablet and up
// -------------
@include add-breakpoint($break-tablet-and-up) {
  
}
