// *************************************
// Base-level tags (body, p, etc.)
// *************************************

@import 'settings';
@import 'helpers';

@include border-box-sizing;
@include establish-baseline;

body {
  background: $def-background;
  color: $def-color;
  font-family: $def-font-family;
  font-size: $def-font-size;
  line-height: $def-line-height;
  -webkit-text-size-adjust: 100%;
  @include container();
  @include add-breakpoint($break-desktop) {

  }
}

a {
  @extend %c-underline;
  color: $def-color;
}

img {
  max-width:100%;
  max-height:100%;
}

b {
  font-weight: bold;
}

ol, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}
