// *************************************
// Font-faces
// *************************************

@import 'settings';

@font-face {
  font-family: $font-family-roboto-regular;
  src: url('../../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot');
  src: url('../../fonts/roboto_regular_macroman/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto_regular_macroman/Roboto-Regular-webfont.woff') format('woff'),
       url('../../fonts/roboto_regular_macroman/Roboto-Regular-webfont.ttf') format('truetype'),
       url('../../fonts/roboto_regular_macroman/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-family-roboto-light;
  src: url('../../fonts/roboto_light_macroman/Roboto-Light-webfont.eot');
  src: url('../../fonts/roboto_light_macroman/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../../fonts/roboto_light_macroman/Roboto-Light-webfont.woff') format('woff'),
       url('../../fonts/roboto_light_macroman/Roboto-Light-webfont.ttf') format('truetype'),
       url('../../fonts/roboto_light_macroman/Roboto-Light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}


