// *************************************
// Base forms style
// *************************************

@import 'settings';
@import 'helpers';


// Form elements
// -----------------
input[type="text"] {
  @include input-placeholder {
    color: #848484;
  }
  @include border-radius($def-b-radius);
  padding: 0 10px;
  border: solid #cbd3d6 1px;
  font-size: $def-font-size;
  color: #383838;
  &:focus {
    outline: 0;
    border: solid #5f9fe3 1px;
  }
  &.important-field {
    background-color: #fdece9;
    border: solid #d15941 1px;
  }
}

input[type="submit"] {
  @include border-radius($def-b-radius);
  cursor: pointer;
  height: 29px;
  padding: 0 12px;
  border: none;
  background-color: #ffd800;
  font-size: $def-font-size;
  color: #383838;
  &:hover {
    background-color: #266db9;
    color: #ffffff;
  }
  &:focus {
    outline: 0;
  }
}

input[type="button"] {
  @extend input[type="submit"];
}

button {
  @extend input[type="submit"];
}

.btn-blue {
  @extend input[type="submit"];
  background-color: #6397d7;
  font-size: $small-font-size;
  color: #fff;
}