// *************************************
// Layout
// *************************************

@import 'settings';
@import 'helpers';

// Layout
// ------



// Utilities
// ---------

%l-none, .l-none {
  display: none;
}

%l-block, .l-block {
  display: block;
}

%l-inline-block, .l-inline-block {
  display: inline-block;
}

%l-pull-left, .l-pull-left {
  float: left;
}

%l-pull-right, .l-pull-right {
  float: right;
}

%l-clearfix, .l-clearfix {
  &:before,
  &:after {
    content: '';
    display: table;
  }
  &:after {
    clear: both;
  }
}

%l-clear-both, .l-clear-both {
  clear: both;
}

%l-v-align-mid, .l-v-align-mid {
  vertical-align: middle;
}

%l-v-align-bottom, .l-v-align-bottom {
  vertical-align: bottom;
}

%l-overflow-hidden, .l-overflow-hidden {
  overflow: hidden;
}

%l-no-border, .l-no-border {
  border: none;
  @include border-radius(0);
}

%l-relative, .l-relative {
  position: relative;
}


// Helpers
// -------

@include add-breakpoint($break-mobile-small) {
  .hidden-mobile-small { display: none!important; }
}

@include add-breakpoint($break-mobile) {
  .hidden-mobile { display: none!important; }
}

@include add-breakpoint($break-tablet) {
  .hidden-tablet { display: none!important; }
}

@include add-breakpoint($break-desktop) {
  .hidden-desktop { display: none!important; }
}
