// *************************************
// Settings
// *************************************

// Media query fix
// ---------------
$fix-mqs: false !default;


// Susy settings
// -------------
$susy: (
  columns: 15,
);

$main-layout-setting: (
  columns: 15,
  column-width: 60px,
  gutters: 1/4,
  container: 1200px,
  math: static,
  gutter-position: inside,
  // debug: (image: show),
);


// Default backgrounds and bgColors
// -------------------
$def-background: #fff;


// Default colors
// --------------

$def-color: #333333;


// Default css rules
// -----------------
$def-font-family: Arial;
$def-line-height: 1.4;


// Font sizes
// ----------
$small-font-size: 12px;
$def-font-size: 14px;
$big-font-size: 16px;
$large-font-size: 18px;


// Font-families
// -------------
$font-family-roboto-regular: 'robotoregular';
$font-family-roboto-light: 'robotolight';

// Radius
// -------------
$def-b-radius: 5px;


// Breakpoints
// -----------
$screen-mobile-small: 500px;
$screen-mobile: 725px;
$screen-tablet: 960px;
$break-mobile-small: max-width $screen-mobile-small;
$break-mobile: (min-width $screen-mobile-small + 1) (max-width $screen-mobile);
$break-tablet: (min-width $screen-mobile + 1) (max-width $screen-tablet);
$break-desktop: min-width $screen-tablet + 1;
$break-mobile-all: $break-mobile-small, $break-mobile;
$break-mobile-and-up: $break-mobile, $break-tablet, $break-desktop;
$break-tablet-and-up: $break-tablet, $break-desktop;
$break-mobile-and-tablet: $break-mobile, $break-tablet;


